<h2 class="pageTitle">Subject / Category / Genre</h2>
<form action="/subjects" method="GET">
  
    <div class="formElement">
      <label>Category</label>
      <input type="text" name="subjectName" placeholder="Enter subject.... (Eg: DSA, Web Technology)" value="<%= searchOptions.subjectName %>">
      <button class="searchButton" type="submit">🔎 Search</button>
    </div>
  </div>
 </form>
<br>
<% subjects.forEach(subject => { %>
  <div class="authorTable">
    <div class="authorName"><%= subject.subjectName %></div>
    <div class="buttonRow">
      <a class="moreButton" href="/subjects/<%= subject.id %>">Related books</a>
      <a class="updateButton" href="/subjects/<%= subject.id %>/edit"><i class="fas fa-user-edit"></i> Update</a>
      <%- include('../partials/deleteForm',
                  { url: `/subjects/${subject.id}` }) %>
    </div>
  </div>
  <hr>
<% }) %>
<div class="margin-btm">
</div>